.app-container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.landing-content{
  padding-left: 10%;
  width: 50%;
  height: 100%;
}
.aboutus-container{
  width: 50%;
  height: 100%;
  padding-right: 5%;
}

@media (max-width:768px) {
  .app-container{
    display:block;
  }
  .landing-content{
    padding-left: 30%;
    align-items: center;
    text-align: center;
  }
  .aboutus-container{
    width: 100%;
    padding-left: 6.5%;
  }
}
